#navbar ul {
    height: 88%;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar a{
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
}
header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
code {
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;   /* space와 tab 보존 */
}
h3 {
    padding-left: 40px;
}